<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%=@user[0][1] %> <%=@user[0][2] %></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="../assets/css/demo_1/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="../asssets/images/favicon.ico" />
  </head>
  <body class="header-fixed">
    <!-- partial:partials/_header.html -->
    <nav class="t-header">
      <div class="t-header-brand-wrapper">
        <h3 style="font-weight: bold;color: grey">Trakya OBS</h3>
      </div>
      <div class="t-header-content-wrapper">
        <div class="t-header-content">
          <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
            <i class="mdi mdi-menu"></i>
          </button>
        </div>
      </div>
    </nav>
    <!-- partial -->
    <div class="page-body">
      <!-- partial:partials/_sidebar.html -->
      <div class="sidebar">
        <div class="user-profile">
          <div class="display-avatar animated-avatar">
            <img class="profile-img img-lg rounded-circle" src="images/ogrenci/<%=@user[0][5] %>" alt="profile image">
          </div>
          <div class="info-wrapper">
            <p class="user-name"><%=@user[0][1] %> <%=@user[0][2] %></p>
            <h6 class="display-income" style="font-size: medium"><%=@user[0][3] %> </h6>
          </div>
        </div>
        <ul class="navigation-menu">
          <li class="nav-category-divider">BİLEŞENLER</li>
          <li>
            <a href="/home">
              <span class="link-title">Tüm Dersler</span>
              <i class="mdi mdi-book-open link-icon"></i>
            </a>
          </li>
          <li>
            <a href="#derler" data-toggle="collapse" aria-expanded="false">
              <span class="link-title">Derslerim</span>
              <i class="mdi mdi-book link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="derler">
              <li>
                <a href="/notlarim">Dönem İçi Notlarım </a>
              </li>
              <li>
                <a href="#" target="_blank">Ders Programı</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#sample-pages" data-toggle="collapse" aria-expanded="false">
              <span class="link-title">Bilgilerim</span>
              <i class="mdi mdi-attachment link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="sample-pages">
              <li>
                <a href="#" target="_blank">Danışman Bilgisi</a>
              </li>
              <li>
                <a href="#" target="_blank">Şifre Değişikliği</a>
              </li>
              <li>
                <a href="#" target="_blank">Transkript</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#ui-elements" data-toggle="collapse" aria-expanded="false">
              <span class="link-title">Kayıtlanma</span>
              <i class="mdi mdi-login link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu show" id="ui-elements">
              <li class="active">
                <a href="/ders-kaydi">Ders Kaydı</a>
              </li>
              <li>
                <a href="#">Kayıt Ücreti</a>
              </li>
              <li>
                <a href="#">Öğretim Ücreti</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <span class="link-title">Tıp</span>
              <i class="mdi mdi-clipboard-play link-icon"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="link-title">Mesaj</span>
              <i class="mdi mdi-message link-icon"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="link-title">Anket</span>
              <i class="mdi mdi-clipboard-outline link-icon"></i>
            </a>
          </li>

          <li>
            <a href="/logout">
              <span class="link-title">Çıkış Yap</span>
              <i class="mdi mdi-logout link-icon"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- partial -->
      <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <div class="row">
              <div class="col-12 py-5">
                <h4>Trakya OBS</h4>
                <p class="text-gray"><%=@user[0][8] %>. Dönem Ders Seçimi</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="grid">
                  <p class="grid-header"><%=@user[0][8] %>. Dönem Seçebileceğin Dersler</p>
                  <div class="item-wrapper">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th>Ders Adı</th>
                          <th>Ders Kodu</th>
                          <th>Kredi</th>
                          <th>Uygulama</th>
                          <th>Teori</th>
                          <th>Bölüm Adı</th>
                          <th>Akts</th>
                          <th>İşlem</th>

                        </tr>
                        </thead>
                        <tbody>
                        <%for i in @dersler %>
                            <tr>
                              <td><%=i[1] %></td>
                              <td><%=i[2] %></td>
                              <td><%=i[3] %></td>
                              <td><%=i[4] %></td>
                              <td><%=i[5] %></td>
                              <td><%=i[7] %></td>
                              <td><%=i[6] %></td>
                              <td>
                                <button type="button" class="btn btn-success has-icon btn-rounded" onclick="ekle(<%=i[0] %>)">
                                  <i class="mdi mdi-plus"></i>Seç
                                  </button>
                              </td>
                            </tr>
                          <%end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div><br><br>
            <div class="row">
              <div class="col-lg-12">
                <div class="grid">
                  <p class="grid-header"><%=@user[0][8] %>. Dönem İçin Seçtiğin Dersler</p>
                  <div class="item-wrapper">
                    <div class="table-responsive">
                      <table class="table table-hover" id="table">
                        <thead>
                        <tr>
                          <th>Ders Adı</th>
                          <th>Ders Kodu</th>
                          <th>Kredi</th>
                          <th>Uygulama</th>
                          <th>Teori</th>
                          <th>Bölüm Adı</th>
                          <th>Akts</th>
                          <th>İşlem</th>

                        </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row justify-content-center" style="margin-top: 25px">
              <button id="gonder" type="button" class="btn btn-outline-success btn-rounded" onclick="kaydet()" style="width: 150px;">
                Kaydet
              </button>
            </div>
            <!--Modal: modalConfirmDelete-->
            <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content text-center">
                  <!--Header-->
                  <div class="modal-header d-flex justify-content-center" style="background-color: #ff3547">
                    <p class="heading" style="font-size: medium;font-weight: bold;color: white">Ders Kaydı Yapıldı!</p>
                  </div>

                  <!--Body-->
                  <div class="modal-body">

                    <p style="font-weight: bolder;">Ders kaydınızı güncellemekmi istiyorsunuz?</p>

                  </div>

                  <!--Footer-->
                  <div class="modal-footer flex-center justify-content-center">
                    <button type="button" data-dismiss="modal" class="btn  btn-outline-danger" style="width: 40%">Evet</button>
                    <button onclick="window.history.back()" type="button" class="btn  btn-danger waves-effect" data-dismiss="modal" style="color: white;width: 40%">Hayır</button>
                  </div>
                </div>
                <!--/.Content-->
              </div>
            </div>
            <!--Modal: modalConfirmDelete-->
          </div>
        </div>
        <!-- content viewport ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
      </div>

      <button type="button" id="click" data-toggle="modal" data-target="#modalConfirmDelete" style="display: none"></button>

      <!-- page content ends -->
    </div>
    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="../assets/vendors/js/core.js"></script>
    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <script src="../assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="../assets/vendors/chartjs/Chart.min.js"></script>
    <script src="../assets/js/charts/chartjs.addon.js"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="../assets/js/dashboard.js"></script>
    <!-- endbuild -->
  </body>

  <script>
      var modal = document.getElementById("modalConfirmDelete");
      var kontrol=<%=@kontrol %>;


      if (kontrol.length > 0){
          document.getElementById("click").click();
      }


      document.getElementById("gonder").style.display="none";
      var liste=<%=@dersler %>;
      var tut=[];
      var satir=1;
      var index1;
      function ekle(index) {
          for (var i=0;i<liste.length;i++){
              if (liste[i][0]===index && tut.indexOf(index)===-1){
                  var table = document.getElementById("table");
                  var row = table.insertRow(1);
                  var cell1 = row.insertCell(0);
                  var cell2 = row.insertCell(1);
                  var cell3 = row.insertCell(2);
                  var cell4 = row.insertCell(3);
                  var cell5 = row.insertCell(4);
                  var cell6 = row.insertCell(5);
                  var cell7 = row.insertCell(6);
                  var cell8 = row.insertCell(7);
                  tut.push(liste[i][0]);
                  cell1.innerHTML = "<td>"+liste[i][1]+"</td>";
                  cell2.innerHTML = "<td>"+liste[i][2]+"</td>";
                  cell3.innerHTML = "<td>"+liste[i][3]+"</td>";
                  cell4.innerHTML = "<td>"+liste[i][4]+"</td>";
                  cell5.innerHTML = "<td>"+liste[i][5]+"</td>";
                  cell6.innerHTML = "<td>"+liste[i][7]+"</td>";
                  cell7.innerHTML = "<td>"+liste[i][6]+"</td>";
                  cell8.innerHTML = "<td>"+"<button type=\"button\" class=\"btn btn-danger has-icon btn-rounded\" onclick='row_delete(satir,index1)' ><i class=\"mdi mdi-close\"></i>İptal</button>"+"</td>";
                  ++satir;
              }
          }
      }

      function row_delete(silinecekSatir,index) {
          document.getElementById("table").deleteRow(1);
          var i=tut.indexOf(index);
          tut.splice(i);
      }

      function kaydet() {
          method = "post";
          var form = document.createElement("form");
          form._submit_function_ = form.submit;

          form.setAttribute("method", method);
          form.setAttribute("action", "/ders-secimi");
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", "dersId");
          hiddenField.setAttribute("value", tut);
          form.appendChild(hiddenField);
          document.body.appendChild(form);
          form._submit_function_();
      }
      setInterval(function () {
          if (tut.length===0){
              document.getElementById("gonder").style.display="none";
          }else {
              document.getElementById("gonder").style.display="block";
          }

      },50);

  </script>
</html>